body {
	padding: 60px 50px 20px 50px;
}
hr {
	border-bottom: 1px dotted #eee;
}
.topbar h3 {
	position:relative;
	top: 2px;
	left:-10px;
}
#wrapper {
	width:960px;
	margin: 0 auto;
}
.center {
	text-align:center;
}

/* Forms */
form div {
	margin-bottom: 10px;
}
label {
	margin-right:10px;
	text-align:left;
}
select {
	width:220px;
}

/* All maps */
#map {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #ccc;
}
#map_msg {
	text-align:center;
	margin-top: 230px;
}

/* Status messages */
.alert-message.remain .close {
	display:none !important;
}

/* Store listing */
.table_actions {
	text-align:right;
}
thead {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
thead td {
	font-weight:bold;
	background: #fafafa;
}
td.store_actions {
	white-space:nowrap;
}
#store_listing_header {
	position:relative;
	overflow:hidden;
	margin-bottom:15px;
}

/* Pagination */
.pagination {
	position:absolute;
	right:0;
	top: 0px;
}
.pagination .active a {
	background:#f3f3f3 !important;
	color:#999;
}
.pagination .disabled a {
	cursor: default;
}
.pagination .disabled a:hover {
	background:#fff !important;
}
.pagination a:hover {
	background: #f7f7f7 !important;
}

/* Search page */
.search_compare {
	width: 50px !important;
}
div.search_compare {
	float:left;
	text-align:center;
	padding: 7px;
}
#geocode_status {
	width: 60px;
}
.no_results {
	text-align:center;
	color: #aa0000;
	font-weight:bold;
	float:left;
}
#search_modal form, #search_modal fieldset {
	margin:0;
}

/* Store edit/create */
#form_fields {
	width:375px;
	float:left;
	overflow:auto;
}
#store_edit #map {
	float:right;
	margin-left:25px;
}
#delete_store {
	float:right;
}
#store_edit_actions {
	clear:both;
	margin-top: 40px;
}
#store_edit #geocode_ajax_loader {
	display:none;
	margin-left:10px;
}
#create #geocode_form_button {
	display:none;
}

/* Tools */
#tools form, #tools fieldset {
	padding-top:0px !important;
}

/* Footer */
#footer {
	border-top: 1px solid #eee;
	overflow:hidden;
}
#footer ul {
	list-style:none;
	margin:10px 0;
	padding:0;
}
#footer ul li {
	float:left;
}
#footer ul a {
	display:block;
	padding: 3px 6px;
}
#support {
	float:right !important;
}