body {
	padding: 60px 50px 20px 50px;
}
hr {
	border-bottom: 1px dotted #eee;
}

#page_title a {
	background-repeat: no-repeat;
	padding-left: 50px;
	background-position: 10px 5px;
	display:block;
}

.topbar a:hover {
	background-color:#333;
	background-color:rgba(255, 255, 255, 0.1);
}

#wrapper {
	width:960px;
	margin: 0 auto;
}
.center {
	text-align:center;
}
.right {
	text-align:right;
}

h2 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

h1 span, h2 span, h3 span, h4 span, h5 span {
	font-size:.6em;
	float:right;
}

body#search h2, body#list h2 {
	border: 0;
}

/* Forms */
form div {
	margin-bottom: 10px;
}
label {
	margin-right:10px;
	text-align:left;
}
select {
	width:220px;
}

/* All maps */
#map {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #ccc;
}
#map_msg {
	text-align:center;
	margin-top: 230px;
}

/* Status messages */
.alert-message .close {
	display:none;
}

/* location listing */
.table_actions {
	text-align:right;
	display:none;
}
.table_actions p {
	float:left;
	font-size: 20px;
	line-height: 30px;
}
td.location_actions {
	white-space:nowrap;
}
#location_table th {
	font-size:1.1em;
	cursor: default;
	padding: 0;
}
#location_table th a {
	color:#404040;
	background: url(/projects/Store-Locator-Admin/public/images/sort_arrows.gif) right 13px no-repeat;
	display:block;
	padding: 10px;
	margin-right: 10px;
}
#location_table th.asc a {
	background-position: right -12px;
}
#location_table th.desc a {
	background-position: right -37px;
}

#location_table th a:hover {
	text-decoration:none;
}

#location_listing_header {
	position:relative;
	overflow:hidden;
	margin-bottom:15px;
}
#location_table tbody tr:hover {
	background: #fbfbfb;
}
#location_table td {
	vertical-align:middle;
	cursor:default;
}

/* Pagination */
.pagination {
	position:absolute;
	right:0;
	top: 0px;
}
.pagination a.page {
	width: 20px;
	text-align:center;
}
.pagination .active a {
	background:#f3f3f3 !important;
	color:#999;
}
.pagination .disabled a {
	cursor: default;
}
.pagination .disabled a:hover {
	background:#fff !important;
}
.pagination a:hover {
	background: #f7f7f7 !important;
}
td.editable {
	cursor: text !important;
}

/* Search page */
.search_compare {
	width: 125px !important;
}
#geocode_status {
	width: 50px;
}
#search_modal_note {
	float:left;
	margin-top: 5px;
}
.no_results {
	color: #aa0000;
	font-weight:bold;
}
#search_modal form, #search_modal fieldset {
	margin:0;
}
.clear_search_field {
	font-weight:bold;
	font-size:16px;
	color: #ea5c58;
	padding: 0 5px;
}
.clear_search_field:hover {
	text-decoration:none;
	color:#c63e37;
}

/* location edit/create */
#form_fields {
	width:375px;
	float:left;
	overflow:auto;
}
#location_edit #map {
	float:right;
	margin-left:25px;
}
#delete_location {
	float:right;
}
#location_edit_actions {
	clear:both;
	margin-top: 40px;
}
#location_edit #geocode_ajax_loader {
	display:none;
	margin-left:10px;
}
#create #geocode_form_button {
	display:none;
}
#geocode_ajax_status_wrapper {
	margin-left:10px;
	display:none;
}
#geocode_ajax_status_wrapper a.close {
	margin-left: 5px;
	float:none;
	font-size: 16px;
	font-weight:normal;
	color:#aa0000;
	opacity:1;
}
#location_lat_lng {
	padding-top:10px;
}
#create_geocode_note {
	text-align:center;
	margin-top:20px;
}

/* Tools */
#tools form, #tools fieldset {
	padding-top:0px !important;
}
#geocode_stats {
	overflow:hidden;
}
#geocode_stats dt {
	width: 100px;
	clear:left;
}
#geocode_stats dd, #geocode_stats dt {
	float:left;
}
#tools #geocode_ajax_loader {
	margin-left:10px;
	display:none;
}

/* Map page */
.infowindow {
	color: #000;
}

/* Footer */
#footer {
	border-top: 1px solid #eee;
	overflow:hidden;
	margin: 50px 0
}
#footer ul {
	list-style:none;
	margin:10px 0;
	padding:0;
}
#footer ul li {
	float:left;
}
#footer ul a {
	display:block;
	padding: 3px 6px;
}
#footer .right {
	float:right !important;
}

/* API index */
#api h2 span {
	color: #aaa;
	margin-left: 15px;
	font-size:.8em;
}
.parameter_list {
	overflow:hidden;
}
.parameter_list dt {
	width: 50px;
}
.parameter_list dd, .parameter_list dt {
	float:left;
}